<template>
  <div>
    <p>Click on <span>Rating</span> in the menu above to view &amp; add movies.</p>
  </div>
</template>

<script>


export default {
  name: 'home'
}
</script>

<style lang="scss" scoped>
div {
  margin-top: 20px;
}

p {
  font-size: 19px; 
  
  span {
    font-weight: 700;
  }
}
</style>
