<template>
  <div class="wrapper">
    <div class="left">
        <Movie 
            v-for="movie in movies" 
            :movie="movie" 
            :key="movie.id" 
        />
    </div>

    <div class="right">
        <AddMovie 
            @add-movie="onAddMovie" 
            :moviesCount="moviesCount"
        />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Movie from '@/components/Movie.vue'
import AddMovie from '@/components/AddMovie.vue'

export default {
  name: 'ratings',
  components: {
    Movie,
    AddMovie
  },
  data() {
      return {
          movies: [
              { name: 'The Worlds Most Extraordinary Homes', released_in: 2017, rating: 10, id: 1 },
              { name: 'Mars', released_in: 2016, rating: 10, id: 2 }
          ]
      }
  },
  created () {
      if(JSON.parse(localStorage.getItem('movies'))) {
          this.movies = JSON.parse(localStorage.getItem('movies'))
      }
  },
  methods: {
      onAddMovie (new_movie) {
          this.movies.push(new_movie)
          localStorage.setItem('movies', JSON.stringify(this.movies))
      }
  },
  computed: {
     moviesCount () {
         return this.movies.length + 1 
     }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
    width: 100vw;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.left {
    width: 60%;
    height: 300px;;
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
</style>