<template>
  <div>
    <form @submit.prevent="addMovie">
        
        <label for="movie_name">Movie name</label>
        <input 
            type="text" 
            v-model="movie.name" 
            name="movie_name"
        />
        
        <label for="movie_rating">Movie rating</label>
        <input 
            type="number" 
            v-model.number="movie.rating" 
            name="movie_rating"
        />
        
        <label for="movie_released_in">Movie released in</label>
        <input 
            type="number" 
            v-model.number="movie.released_in" 
            name="movie_released_in"
        />

        <button>Add Movie</button>

    </form>
  </div>
</template>

<script>
export default {
  name: 'AddMovie',
  props: ['moviesCount'],
  data() {
      return {    
        movie: {
            name: '',
            rating: null,
            released_in: null,
            id: this.moviesCount
        }
      }
  },
  methods: {
      addMovie() {
          this.$emit('add-movie', {...this.movie})
          this.movie.name = ''
          this.movie.rating = null
          this.movie.released_in = null
          this.movie.id = this.calcId 
      }
  },
  computed: {
      calcId () {
          return this.moviesCount + 1 
      }
  }
}
</script>

<style lang="scss" scoped>
div {
    padding: 15px;
    display: flex;
    justify-content: center;    
}

form {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 300px;
    justify-content: space-between;
    
    input {
        height: 40px;
        border: 1px solid black;

        &:focus {
            outline: none;
            border-color:#00cad1;
        }
    }

    label {
        font-size: 13px; 
        font-weight: 600;
        margin-bottom: -20px;
    }

    button {
        background-color: white;
        border: 1px solid black;
        color: black;
        width: 150px;
        height: 40px; 
        font-size: 16px;
        font-weight: 600;
        transition: all 400ms ease-in-out 20ms;
        align-self: center;
    }

    button:hover {
        background: black;
        color: white;
        cursor: crosshair;
    }
}


</style>