<template>
  <div class="movie">
    <div>
        <div>
            <h3>{{ movie_infos.name }}</h3>
            <p>Rating {{ movie_infos.rating }} / 10</p>
            <small>Released in: {{ movie_infos.released_in }}</small>
            <button 
                :disabled="movie_infos.rating==10" 
                @click="increaseRating"
            >
            &plus;
            </button>
            <button 
                :disabled="movie_infos.rating == 1" 
                @click="decreaseRating"
            >
            &minus;
            </button>
            <div class="message" 
                v-if="movie_infos.rating==10"
            >
            Looks like you already gave it the highest rating possible.
            </div>
            <div class="message" 
                v-else-if="movie_infos.rating == 1"
            >
            Apparently ne of your least favorite.
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Movie',
  props: ['movie'],
  data() {
      return {
          movie_infos : { ...this.movie }
      }
  },
  methods: {
      increaseRating () {
          if(this.movie_infos.rating != 10) {
            this.movie_infos.rating += 1
          }
      },
      decreaseRating () {
          if(this.movie_infos.rating > 0) {
              this.movie_infos.rating -= 1
          } 
      }
  }
}
</script>

<style scoped>
.movie {
    margin-top: 20px;
    margin-bottom: 30px;
}

.message {
    color: #00cad1;
    font-weight: 600;
    margin-top: 5px;
    
}

h3 {
    font-family: 'Merriweather', serif
}
 
button {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 25px;
    height: 25px; 
    font-size: 19px;
    transition: all 400ms ease-in-out 20ms;
    margin-left: 10px;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

button:disabled {
    background: lightgray;
    cursor: not-allowed;
    color: white;
}
</style>