<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> 
      <router-link to="/ratings">Ratings</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Source Sans Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 150px;
    height: 40px; 
    font-size: 16px;
    font-weight: 600;
    transition: all 400ms ease-in-out 20ms;
    align-self: center;
    padding: 5px 15px;
    
    &:hover {
        background: black;
        color: white;
    }

    &.router-link-exact-active {
      background: black;
      color: white;
    }
  }
}

</style>
